body, html {
	font-family: Arial;
	text-align: center;
	font-size: 18px;
	color: #333;
	padding: 0;
	margin: 0;
	line-height: 18px;
	background-color: #fff;
}


input, select{
	padding: 5px;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	border: 1px solid #ddd;
	background-color: #fff;
}

button{
	font-size: 18px;
	width: 100px;
	font-weight: bold;
	padding: 10px;
	border: none;
	border-radius: 10px;
}
button.cancel{
	float: left;
	background-color: #900;
	color: #fff;
}
button.confirm{
	float: right;
	background-color: #090;
	color: #fff;
}
button.delete{
	width: 300px;
	color: #333;
	background-color: #f9f9f9;
	border: 1px solid #999;
	margin: 30px 0;
}
.clearboth{
	clear: both;
}



#logo{
	margin: 5px 0;
}

#alert{
	margin: 30px 0;
	font-style: italic;
	color: #fff;
	background-color: #c00;
	border-radius: 10px;
	padding: 10px;
	line-height: 24px;
}




/* ======================================   S E T T I N G S ====================================  */



#setup_block{
	padding: 20px;
	color: #777;
	font-size: 12px;
	margin-bottom: 200px;
}
#setup_block h3{
	font-size: 18px;
	margin: 0;
	padding: 0;
	font-weight: bold;
	color: #009;
}
#setup_block input{
	width: 90%;
	margin-top: 15px;
}

.setup_list{
	background-color: #eee;
	border-radius: 10px;
	padding: 20px;
	border: 1px solid #ccc;
	margin-bottom: 50px;
}

#view_note{
	float: right;
	margin: 0 10px 0 0;
}
.note{
	display: block;
	margin: 20px 0 0 0;
	font-style: italic;
	font-size: 14px;
	color: #900;
	background-color: #fefeea;
	border: 1px solid #900;
	border-radius: 5px;
	padding: 5px;
}
#code{
	display: block;
	margin: 15px 0 0 0;
	font-size: 24px;
	font-weight: bold;
	color: #000;
}
#setup_time{
	margin: 50px 0;
	font-size: 24px;
	color: #000;
}
#setup_time select{
	margin: 10px 0;
}


#setup_block button{
	width: 90%;
	background-color: #090;
	color: #fff;
}





